body{
	margin: 0 auto;
	padding: 0;
	font-family: arial;
	font-size: 18px;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
}
.header{
	margin: 0;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	background-color: #1b5589;
}
.header li a{
	color: #85a8c1;
}
.header li a:hover{
	color: #fff;
}
.header li:nth-child(4) a{
	color: #fff;
}
.header li{
	display: flex;
	align-items: center;
}
.header li:last-child{
	flex-basis: 70%;
	justify-content: flex-end;
}
h1{
	text-align: center;
	font-weight: normal;
}
.menu{
	margin: 20px 50px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	background-color: #cce5ff;
	color: #2a639f;
	border-radius: 10px;
}
.menu li{
	text-align: center;
}
.menu li:first-child{
	flex-basis: 20%;
}
.menu li:nth-child(2),
.menu li:last-child{
	flex-basis: 40%;
}
.form{
	margin: 20px 50px;
	display: flex;
	justify-content: space-between;
}
.avatar{
	flex-basis: 20%;
	padding: 10px 30px 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#ava{
	display: none;
}
.avatar p{
	width: 256px;
	box-sizing: border-box;
	background-color: #6c757d;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0px 0px 5px #dee2e5;
}
.info, .password{
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	padding: 10px 30px 10px 0px;
}
.password{
	padding-right: 0;
}
.info ul, .password ul{
	flex-basis: 100%;
}
.info ul li, .password ul li{
	padding: 10px 0px;
}
.info ul li input, .info ul li button,
.password ul li input, .password ul li button{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #dee2e5;
	border-radius: 5px;
	font-size: 18px;
	box-shadow: 0px 0px 5px #dee2e5;
}
.info ul li button, .password ul li button{
	background-color: #6c757d;
	color: #fff;
}
::placeholder{
	font-size: 18px;
	color: #779fa0;
}