body, ul{
	margin: 0;
	padding: 0;
	font-family: arial;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.header{
	margin: 0;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	background-color: #1b5589;
}
.header li a{
	color: #85a8c1;
}
.header li a:hover{
	color: #fff;
}
.header li:nth-child(4) a{
	color: #fff;
}
.header li{
	display: flex;
	align-items: center;
}
.header li:last-child{
	flex-basis: 70%;
	justify-content: flex-end;
}
